<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Calendar</title>
    <%= stylesheet_link_tag "/stylesheets/calendar/fullcalendar.css" %>
    <%= stylesheet_link_tag "/stylesheets/calendar/theme.css" %>
    <%= stylesheet_link_tag "/stylesheets/calendar_main.css" %>

    <%= javascript_include_tag "/javascripts/calendar/jquery/jquery-1.5.2.min.js" %>
    <%= javascript_include_tag "/javascripts/calendar/calendar_main.js" %>
    <%= javascript_include_tag "/javascripts/calendar/fullcalendar.js" %>
  </head>
  <body>

    <div id="left_cal_options">
      <div> <h2>Calendars</h2> </div>
      <div> <%= link_to 'create', new_calendar_path, {:style => "float:right"} %> </div>
      <% @calendars.each do |calendar|%>
        <li style="list-style:none;" class="calendar_check_boxes_set">
          <%= check_box_tag calendar.name , calendar.name, true , {:id => calendar.id.to_s,:onclick => "toggleSource(this);"} %> <%= link_to calendar.name, edit_calendar_path(calendar)%>
        </li>
      <% end %>
    </div>

    <div id="calendar_container">
      <div class="fc-button fc-button-today ui-state-default ui-corner-left ui-corner-right" style="float:right; margin-bottom: 10px;">
        <%= link_to '+', new_calendar_appointment_path(@calendars.first),{:class => "fc-button-content",:style => "width:10px;"} %>
      </div>

      <div id='calendar'style="width:100%;"></div>
    </div>

    <div id="tasks_list">
    </div>

  </body>
</html>
