<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Calendar</title>
    <%= stylesheet_link_tag "/stylesheets/calendar/fullcalendar.css" %>
    <%= stylesheet_link_tag "/stylesheets/calendar/theme.css" %>
    <%= stylesheet_link_tag "/stylesheets/calendar_main.css" %>

    <%= javascript_include_tag "/javascripts/calendar/jquery/jquery-1.5.2.min.js" %>
    <%= javascript_include_tag "/javascripts/calendar/calendar_main.js" %>
    <%= javascript_include_tag "/javascripts/calendar/fullcalendar.js" %>
  </head>
  <body>

    <div id="left_cal_options">
      <p> <h2>Calendars</h2> </p>
      <% @calendars.each do |calendar|%>
        <li style="list-style:none;" class="calendar_check_boxes_set">
          <%= check_box_tag calendar.name, calendar.name, true , {:id => calendar.id.to_s,:onclick => "toggleSource(this);"} %> <%= calendar.name%>
        </li>
      <% end %>
    </div>

    <div id="calendar_container">
      <div id='calendar'style="width:800px;"></div>
    </div>

    <div id="tasks_list">
    </div>

  </body>
</html>
