<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Calendar</title>

    <%= stylesheet_link_tag "/plugins/fullcalendar/fullcalendar.css" %>
    <%= stylesheet_link_tag "/plugins/fullcalendar/theme/theme.css" %>
    <%= stylesheet_link_tag "/stylesheets/calendar.css" %>

    <%= javascript_include_tag "custom_calendar.js" %>
    <%= javascript_include_tag "/plugins/fullcalendar/jquery/jquery-1.5.2.min.js" %>
    <%= javascript_include_tag "/plugins/fullcalendar/fullcalendar.js" %>

    <script type='text/javascript'>
      $(document).ready(function() {

        showCalendar();

        $('#calendar_check_box').click(function(){
          if($('#calendar_check_box').attr('checked') == false ){           
            hideCalendar();
          }
          else{
            showCalendar();
          }
        });

        function hideCalendar() {
          $('#calendar').html("");
          $('#calendar').fullCalendar({
            theme: true,
            header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
            },
          editable: false,
          weekMode: 'liquid',
        }
        
        function showCalendar() {
          $('#calendar').html("");
          $('#calendar').fullCalendar({
            theme: true,
            header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
            },
          editable: false,
          weekMode: 'liquid',
            eventSources: [
            "http://localhost:3000/calendars/1/appointments"
            ]
          });
        }

      });
    </script>
  </head>
  <body>

    <div id="left_cal_options">
        <% @calendars.each do |calendar|%>
          <li style="list-style:none;"><%= check_box_tag calendar.name, calendar.name, true %> <%= calendar.name%></li>
        <% end %>
    </div>

    <div id="calendar_container">
      <div id='calendar'style="width:800px;"></div>
    </div>

    <div id="tasks_list">
    </div>

  </body>
</html>
